<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
    <script src="../static/js/jquery.min.js"></script>
</head>
<body>
    <button id="id-button">play</button>

    <script>
        var play = $('#id-button')
        play.on('click', function (data) {
            console.log('1111', data)
            $.ajax({
                url: 'http://localhost:5000/test',
                method: 'post',
                data: {
                    username:111
                },
                success: function (data) {
                    console.log(data)
                },
            })
        })
    </script>
</body>
</html>